<div class="container">


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3> Réenvoyer les instructions de confirmation</h3>
      <div class="form">

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-group-lg">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } ,placeholder: "votre email"%>
  </div>

  <div class="form-actions">
    <%= f.submit  "Resend confirmation instructions",class: "btn btn-success" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
