<div class="content">
  <article class="media">

    <div class="media-content">
    </br>
      <div class="media-body">

          <%= image_tag(avatar_url(comment.user), alt: comment.user.name,class: "img-circle ",style: "max-width: 100%;height:30px;display:inline-block;border-radius:100%;") %>


          <strong><%= comment.user.name %></strong>


        <div><%= comment.response %></div>

      </div>
    </div>

    <% if user_signed_in? && (current_user.id == comment.user_id) %>
      <%= link_to 'Delete', [comment.product, comment],
                  method: :delete, class: "btn btn-sm btn-delete-comment", data: { confirm: 'Are you sure?' } %>
    <% end %>

  </article>
</div>