

<%= simple_form_for([@product, @product.comments.build],validate: true) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <div class="control">
      <%= f.input :response, wrapper: false, label_html: { class: 'label' },placeholder: "votre commentaire" %>


    </div>
  </div>

  <br>

  <%= f.button :submit, 'Leave a reply', class: 'btn btn-leave-comment'  %>


<% end %>
