<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=286129858884672&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">


    <div class="row">

      <div class="col-md-4 col-md-offset-4">


        <h1>Se Connecter</h1>
        <div class="form">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },placeholder: "ex: souiri@traiteur.gmail" %>
  </div>
            <div class="form-group">
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },placeholder: "mot de passe" %>
            </div>
            <div class="form-group">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>


  <div class="text-center">
    <%= f.submit  "Log in" ,class: "btn btn-block send-button tx-tfm"%>
  </div>
            <div class="col-md-12 ">
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
              </div>
            </div>

<% end %>

<%= render "users/shared/links" %>

        </div>
      </div>
    </div>
  </div>

