
<%= simple_form_for([@product, @product.reservations.build],validate: true) do |f| %>
  <%= f.error_notification %>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="text-center">
          <%= sanitize image_tag "booking" ,alt: "booking" ,width: 300,class: "img-fluid "%>
        </div>

        <div class="form">

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">

                De:

                <%= f.datetime_field :dateA,as: :datetime_field,label: false,:autocomplete => :off, placeholder: "Date début de réservation", class: "form-control" %>
            </div>





          </div>


            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">
              à:

              <%= f.datetime_field :dateB,as: :datetime_field,label: false, :autocomplete => :off,placeholder: "Date fin de réservation", class: "form-control" %>

            </div>

            </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="form-group">


                <%= f.input :nombres_invites,label: false,placeholder: "Nombre des invités",class: "form-control"%>




            </div>
          </div>


          <div class="form-group">
            <div class="control">
              <div class="text-center">
              <%= f.button :submit, "Réserver", class:"btn btn-lg btn-reservation-fin" %>

              </div>
            </div>

          </div>
          <div class="form-group">

          </div>
         <% end %>
      </div>
    </div>


  </div>

