<p id="notice"><%= notice %></p>

<p>
  <strong>Datea:</strong>
  <%= @reservation.dateA %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @reservation.duration %>
</p>

<p>
  <strong>Dateb:</strong>
  <%= @reservation.dateB %>
</p>


<p>
  <strong>Product:</strong>
  <%= @reservation.product %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
