<div class="simple-calendar ">
  <div class="calendar-heading ">
    <div class="text-center">

      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-calendar-previous" %>
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-calendar-next"%>
    </div>
  </div>
  <br>

  <table class="table table-striped ">
    <thead>
    <tr bgcolor="#b040e2">
      <% date_range.slice(0, 7).each do |day| %>
        <th class="text"><%= t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <span class="text"><% block.call day.strftime("%d"), sorted_events.fetch(day, []) %></span>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>