


                               <div class="container">
                                <div class="row">

                                  <%= month_calendar events: @reservations do |date,reservations| %>

                                        <%=  date %>
                                    <div class="content">
                                      <% reservations.each do |res| %>

                                        <%= image_tag(avatar_url(res.client), alt: res.client.name,class: "img-circle ",style: "align:left;max-width: 50%;height:30px;display:inline-block;border-radius:100%;") %>
                                        <h6 class="text-muted"><%=  res.client.name %></h6>

                                        <div data-toggle="modal" data-target="#contact-client" class= "btn btn-contact-client btn-sm"  >

                                          Contacter
                                        </div>
                                        </div>
                                      <% end %>
                                </div>
                                      <% end %>

                                </div>
                                        <% @reservations.each do |res| %>
<!-- Modal -->

<div class="modal fade" id="contact-client" tabindex="-1" role="dialog" aria-labelledby="contactlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactlabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="text-center">
          <%= sanitize image_tag "profile" ,alt: "profile" ,width: "30%",height: "30%",class: "img-fluid "%>
          <div class="panel panel-default">
            <div class="panel panel-heading">Informations:</div>
            <div class="panel panel-body">
              <p>
                <strong>Nom & Prénom:</strong>
                <%= res.client.name %>
              </p>

              <p>
                <strong>Email :</strong>
                <%= res.client.email %>
              </p>

              <p>
                <strong>Numero de telephone :</strong>
                0665478526
              </p>
              <p>
                <strong>Emplacement :</strong>
                Kenitra,Maroc
              </p>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <div class="text-center">
        <div class="btn-group-sm">
          <button class="btn btn-contact-appel">Appel</button>
          <button class="btn btn-contact-message">Message</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


                                      <% end %>
