<%= link_to product_path(notification.notifiable.product, anchor: dom_id(notification.notifiable)) , class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
  <li class="notification-box">
    <div class="row">
      <div class="col-lg-3 col-sm-3 col-3 text-center">
        <%= image_tag(avatar_url(notification.actor), alt: notification.actor.name,class: "img-circle ",style: "max-width: 100%;height:50px;display:inline-block;border-radius:100%;")  %>

      </div>
      <div class="col-lg-8 col-sm-8 col-8">
        <strong class="text-info"><%= notification.actor.name %> a réservé votre produit  </strong>
              <strong class="text-success">
                de <%= notification.notifiable.dateA %>
                à  <%= notification.notifiable.dateB %>
              </strong>

      </div>
    </div>

  </li>
<% end %>