<div class="container">


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3> Mot de passe oublié ? :/</h3>
      <div class="form">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } ,placeholder: "votre email"%>
  </div>

  <div class="form-actions">
    <%= f.submit "Send me reset password instructions",class: "btn btn-warning " %>
  </div>
<% end %>

<%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>