
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "reservations";
 @import 'selectize';
 @import 'selectize.bootstrap3';
 @import "simple_calendar";
 @import "jquery.minicolors";
 @import 'picker/default';
 @import 'picker/default.date';
 @import 'picker/default.time';

 $theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
 $activeColor: #9550ae; //green
 $darkenColor: darken($activeColor, 20%);
 $pink: #ea4c89;
 $primary : $pink;
 $green : #aaffbb;
 a.nav-link-signup{color: black; font-family: "Helvetica Neue Light";font-size: medium}
 a.nav-link-signin{color: #ea4335; font-family: "Helvetica Neue Light";font-size: medium}
 a.nav-link-logout{color: black; font-family: "Helvetica Neue Light";font-size: medium}


 .navbar{background: white}
 .nav-item::after{content:'';display:block;width:0px;height:2px;background: black;transition: 0.2s;}
 .nav-item:hover::after{width:100%;}
 .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link,.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color: #fe4158;}
 .nav-link{padding:15px 5px;transition:0.2s;}
 .navbar-collapse{

 }

 html, body {
   min-height: 100vh;
   background-color: white;
   font:15px/1.3 'Lato', sans-serif;

 }

 .send-button{
   background: #0bc79b;
   width:100%;
   font-weight: 600;
   color:#fff;
   padding: 8px 25px;
 }
 .g-button{
   color: #fff !important;
   border: 1px solid #EA4335;
   background: #ea4335 !important;
   width:100%;
   font-weight: 600;
   color:#fff;
   padding: 8px 25px;
 }
 .my-input{
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
   cursor: text;
   padding: 8px 10px;
   transition: border .1s linear;
 }
 .header-title{
   margin: 5rem 0;
 }
 h1{
   font-size: 20px;
   line-height: 40px;
   font-weight: 600;
   color:#4c5357;
 }
 h2{
   color: #5e8396;
   font-size: 21px;
   line-height: 32px;
   font-weight: 400;
 }
 .login-or {
   position: relative;
   color: #aaa;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .span-or {
   display: block;
   position: absolute;
   left: 50%;
   top: -2px;
   margin-left: -25px;
   background-color: #fff;
   width: 50px;
   text-align: center;
 }
 .hr-or {
   height: 1px;
   margin-top: 0px !important;
   margin-bottom: 0px !important;
 }
 @media screen and (max-width:480px){
   h1{
     font-size: 26px;
   }
   h2{
     font-size: 20px;
   }
 }

 /*flash*/
 .alert-error {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   text-align: left;
 }

 .alert-alert {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   text-align: left;
 }

 .alert-success {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
 }

 .alert-notice {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
 }

 .btn-default {
   font-family: "Helvetica Neue Light";
   font-size: small;
   color: rgb(0, 0, 0);
   background: #fe4158;

 }
 .btn-contact-appel{
   color: #c72a41;
   background-color: white;
   border-color: rgba(20,63,96,0.65);
 }
 .btn-contact-appel:hover{
   color: #c72a41;
   background-color: white;
   border-color: rgba(20,63,96,0.65);
 }
 .btn-contact-message{
    color: #0bc79b;
   background-color: white;
    border-color: rgba(20,63,96,0.65);
 }
 .btn-contact-message:hover{
   background-color: white;
   color: #0bc79b;
   border-color: rgba(20,63,96,0.65);
 }
 .btn-disponibiliy{
   color: #0bc79b;
   background-color: white;
   border-color: rgba(20,63,96,0.65);
 }
 .btn-new{
   background-color: white;
   color: #ea4c2c;
   border-color: rgba(20,63,96,0.65);

   border-radius: 20px;

 }
 .btn-new:hover{
   background-color: white;
   color: #ea4c2c;
   border-color: rgba(20,63,96,0.65);

   border-radius: 20px;
 }
 .btn-disponibiliy:hover{
   background-color: white;
   color: #0bc79b;
   border-color: rgba(20,63,96,0.65);
 }
  .btn-favorites{
    background-color: white;
    color: #c73833;
    border-color: rgba(22, 73, 96, 0.65);
    border-radius: 20px;
  }
 .btn-favorites:hover{
   background-color: white;
   color: #c73833;
   border-color: rgba(22, 73, 96, 0.65);
   border-radius: 200px;
 }
.btn-primary {
  font-family: "Helvetica Neue Light";
  font-size: small;
  color: #ff525e;
  background: white;


}
.btn-new-product{

  background-color: #fffdf8;
  color: #ff525e;


}

.btn-cancel-account {
  -webkit-transition-duration:
  0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #fffdf8; /* Green */
  color: #9550ae;
  outline-color: #aaaaaa;
  border: 2px solid black;

}
 .btn-cancel-account:hover {
   background-color: #9550ae; /* Green */
   color: white;

  }

.btn-reservation-fin{

 padding: 10px 24px;
 font-family: Lato;
 font-size: large;
 color: #e7ffcc;
 background-color: #ea745d;
 border: black;
 border-radius: 20px;

 }
.btn-calendar-previous{
  color: #8266ae;
  background-color: white;
  border-color: #3c16ff;
}
.btn-calendar-previous:hover{
  color: white;
  background-color: #8266ae;
}
 .btn-calendar-next{
   color: #8266ae;
   background-color: white;
   border-color: #3c16ff;
 }
 .btn-calendar-next:hover{
   color: white;
   background-color: #8266ae;
 }
 .btn-reservation-fin:hover{

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
 .btn-dashboard-seller{
   color: #ea4c89;
   border-color: black;
   border-radius: unset;
 }
.btn-redblueland{
  font-family: "Helvetica Neue Light";
  font-size: small;
  color: white;
  background: #ff525e ;

}
.btn-update-profil{
  padding: 10px 24px;
  font-family: Lato;
  font-size: large;
  color: #e7ffcc;
  background-color: #ea2244;
  border: black;
  border-radius: 20px;

}
.btn-update-profil:hover{

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-delete-comment:hover{
  color: white;
  background-color: red;

}
.btn-delete-comment{
  color: red;
  background-color: white;
  border-color: #000000;
}
.btn-contact-client{
  color: #ff5075;
  background-color: white;
  border-color: black;
}
 .btn-contact-client:hover{
   color: white;
   background-color: #ff5075;

 }
.btn-edit{
  color: #343434;
  background-color: #ff5f50;
}
.btn-delete{
  color: #fffdf8;
  background-color: #ea1b1a;
}
.btn-leave-comment{
  color: #4e3dae;
  background-color: #fffdf8;
  border: 2px solid #343434;
}
.btn-leave-comment:hover{
  color: #fffdf8;
  background-color: #4e3dae;

}
.btn-reservation{
  font-family: Lato;
  font-size: medium;
  color: white;
  background-color: darkred;

}
.btn-reservation:hover{
  color: white;
}
.btn-search-submit{
  font-family: "Courier New";
  size: auto;
  color: white;
  background-color: rgba(234, 69, 80, 0.65);

}
 .btn-search-submit:hover{
   font-family: "Courier New";

   color: white;
   background-color: rgba(234, 69, 80, 0.65);

 }
.btn-commentaire{
  font-family: "Helvetica Neue Light";
  font-size: small;
  color: #3c16ff;

  outline-color: #fe4158;
  outline-style: auto;
}
.btn-invitation{
  font-family: "Helvetica Neue Light";
  font-size: small;
  background: white;
  color: #3c16ff;
}
 .btn-facebook {
   background-color: #405D9D;
   color: #fff;
 }
 .btn-reserve-signup{
   color: #00782b;
   font-weight: bolder;
    border-color: #405D9D;
 }
 .btn-reserve-signup:hover{
   color: #00782b;
   font-weight: bolder;
   border-color: #405D9D;
 }
 .btn-reserve-signin{
   color: #ea4335;
   font-weight: bolder;
   border-color: #405D9D;
 }
 .btn-reserve-signin:hover{
   color: #ea4335;
   font-weight: bolder;
   border-color: #405D9D;
 }
.btn-accept-invitation{
  font-family: "Helvetica Neue Light";
  font-size: small;
  background: white;
  color: green;
  outline-color: black;
  outline-style: auto;
}
 #drop_zone {
   position: relative;
   padding: 3rem 0;
   border: 2px dashed #ccc;
   text-align: center;
   border-radius: 6px;
   background-color: #f8f8f8;
   &.dragging::before {
     content: "";
     position: absolute;
     left: 0; width: 100%;
     top: 0; height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
     background-color: rgba($primary, .3);
     pointer-events: none;
     z-index: 99;
   }
   &.fire::before {
     content: "";
     position: absolute;
     left: 0; width: 100%;
     top: 0; height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
     background-color: rgba($green, .3);
     pointer-events: none;
     z-index: 99;
   }
 }
 .label {
   font-family: "Helvetica Neue Light";
 }




 .product-wrapper {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   border-radius: 2px;
   padding: 10px;
   background: white;
 }
 .products {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 1rem;
   @media only screen and (min-width: 1600px) {
     grid-template-columns: repeat(6, 1fr);
   }
   @media only screen and (max-width: 1300px) {
     grid-template-columns: repeat(4, 1fr);
   }
   @media only screen and (max-width: 1100px) {
     grid-template-columns: repeat(3, 1fr);
   }
   @media only screen and (max-width: 800px) {
     grid-template-columns: 1fr 1fr;
   }
   @media only screen and (max-width: 400px) {
     grid-template-columns: 1fr;
   }

 }
 .product {
   position: relative;
   display: block;
   color: #333 !important;

   .product-data {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     padding: 10px;
     background: rgba(white, .9);
     cursor: pointer;
     .product-title {
       font-weight: normal;


     }
     .product-description {
       font-size: 1.3rem;
       font-weight: bold;

     }
     .product-time {
       font-size: 1.2rem;
       padding-top: .5rem;
       color: #666666;
     }
   }
 }

 .user-data {
   padding: 1rem 0 0 0;
 }

 .user-name {
   display: inline-block;
   position: relative;
   top: -4px;
   padding-left: 5px;
 }

 .user-thumb {
   display: inline-block;
   img {
     border-radius: 50%;
   }
 }

 .by,
 .product-time {
   display: inline-block;
   position: relative;
   top: -4px;
 }

 .product-analytics {
   text-align: right;
   @media only screen and (max-width: 800px) {
     text-align: right;
     .level-item {
       display: inline-block;
       padding: 0 4px;
     }
     .level-left+.level-right {
       margin: 0;
       padding: 0;
     }
     .level-item:not(:last-child) {
       margin: 0;
     }
   }
 }

 .product-analytics,
 .panel.show-product-analytics {
   font-size: .9rem;

   a,
   .icon {
     color: #aaa;
      font-size: 12px;

   }
   .icon:hover,
   a:hover {
     color: darken(#aaa, 25%);

   }
 }

 .panel.show-product-analytics {
   a { color: #333; }
   .icon {
     padding-right: .5rem;
   }
   .likes .vote_count {
     margin-left: -4px;
   }
 }


 .product-container {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
   border-radius: 2px;
   padding: 40px;
   background: white;
   @media only screen and (max-width: 800px) {
     padding: 10px;
   }
   .content,
   .comments {
     margin-top: 1rem;
     padding: 20px;
     @media only screen and (max-width: 800px) {
       padding: 0;
     }
   }
 }

 .notification:not(:last-child) {
   margin-bottom: 0;
 }
 .product-full {
   text-align: center;
 }
 .visible {
   display: block !important;
 }
 .jumbotron.jumbotron-fluid{
   background-color: #fffdf8;

 }

 //search field
 .dropdown.dropdown-lg .dropdown-menu {
   margin-top: -1px;
   padding: 6px 20px;
 }
 .input-group-btn .btn-group {
   display: flex !important;

 }
 .btn-group .btn {
   border-radius: 0;
   margin-left: -1px;
 }
 .btn-group .btn:last-child {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 .btn-group .form-horizontal .btn[type="submit"] {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 .form-horizontal .form-group {
   margin-left: 0;
   margin-right: 0;
 }
 .form-group .form-control:last-child {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
 }

 @media screen and (min-width: 768px) {
   #adv-search {
     width: 500px;
     margin: 0 auto;
   }
   .dropdown.dropdown-lg {
     position: static !important;
   }
   .dropdown.dropdown-lg .dropdown-menu {
     min-width: 500px;
   }
 }
 .reservation-product{

   .btn-reservation-product{
     color: rgba(254,65,88,0.6);
     background-color: #3c16ff;
   }
 }

 .footer {

   height:24px; // Replace with the height your footer should be
   width: 100%; // Don't change
   background-image: none;
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: 0% 0%;
   position: fixed;
   bottom: 0pt;
   left: 0pt;

 }

 .footer_contents {

   height:24px; // Replace with the height your footer should be
   width: 1000px; // Visible width of footer
   margin:auto;

 }
 .fixed-panel {
  height: 5px;


 }
 .pagination>li>a { border-radius: 50% !important;margin: 0 5px;}

 input[type=checkbox] {
   transform: scale(1.5);
   height: 0;
   width: 0;
   visibility: visible;
 }
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the checkmark/indicator */
 .container .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }



 /* direct_uploads.css */

 .direct-upload {
   display: inline-block;
   position: relative;
   padding: 2px 4px;
   margin: 0 3px 3px 0;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 3px;
   font-size: 11px;
   line-height: 13px;
 }

 .direct-upload--pending {
   opacity: 0.6;
 }

 .direct-upload__progress {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   opacity: 0.2;
   background: #0076ff;
   transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
   transform: translate3d(0, 0, 0);
 }

 .direct-upload--complete .direct-upload__progress {
   opacity: 0.4;
 }

 .direct-upload--error {
   border-color: red;
 }

 input[type=file][data-direct-upload-url][disabled] {
   display: none;
 }

 .description{
   font-family: "Lato Hairline";
   font-size: larger;
   font-weight: bold;
   font-size-adjust: initial;
   color: #000000;
 }

 ._description {

   width: 100% !important;
   height: 100% !important;
   position: absolute !important;
   padding: 40px !important;

 }

 h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}



 .product-grid{
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   margin-bottom: 50px;
   overflow: hidden;
   border: 1px solid transparent;
   transition: all 0.5s;
 }
 .product-grid:hover{
   border-color: rgba(0,0,0,0.15);
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
 }
 .product-grid .product-image{
   overflow: hidden;
   position: relative;
 }
 .product-grid .product-image a{ display: block; }
 .product-grid .product-image img{
   width: 100%;
   height: auto;
 }
 .product-grid .product-image .pic-1{
   border-left: 10px solid #fff;
   border-right: 10px solid #fff;
   border-radius: 10px;
   transition: all 0.3s;
 }
 .product-grid:hover .product-image .pic-1{ transform: scale(1.09); }
 .product-grid .More-about{
   color: #fff;
   background-color: #6c5de2;
   font-size: 16px;
   line-height: 45px;
   height: 45px;
   width: 45px;
   border-radius: 3px;
   opacity: 0;
   transform: translateX(-50%) translateY(-50%);
   position: absolute;
   left: 50%;
   top: 0;
   transition: all 0.3s;
 }
 .product-grid:hover .More-about{
   opacity: 1;
   top: 50%;
 }
 .product-grid .More-about:before,
 .product-grid .More-about:after{
   content: attr(data-tip);
   color: #fff;
   background-color: #6c5de2;
   font-size: 13px;
   line-height: 22px;
   padding: 2px 8px;
   border-radius: 3px;
   white-space: nowrap;
   display: none;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   top: -34px;
   z-index: 1;
   transition: all 0.3s ease 0s;
 }
 .product-grid .More-about:after{
   content: '';
   height: 15px;
   width: 15px;
   border-radius: 0;
   transform: translateX(-50%) rotate(45deg);
   top: -20px;
   z-index: -1;
 }
 .product-grid .More-about:hover:before,
 .product-grid .More-about:hover:after{
   display: block;
 }
 .product-grid .product-content{
   padding: 10px;
   position: relative;
 }
 .product-grid .title{
   font-size: 18px;
   font-weight: 600;
   margin: 0 0 8px 0;
 }
 .product-grid .title a{ color: #000; }
 .product-grid .title a:hover{ color: #6c5de2; }
 .product-grid .price{
   color: #000;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 7px;
 }
 .product-grid .price span{
   font-size: 13px;
   vertical-align: top;
   margin: 2px 0 0 0;
   display: inline-block;
 }
 .product-grid .rating{
   color: #ffce21;
   font-size: 11px;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 .product-grid .rating .far{ color: rgba(0,0,0,0.2); }
 .product-grid .social{
   background-color: #fff;
   width: 100%;
   padding: 30px 0;
   margin: 0;
   list-style: none;
   position: absolute;
   left: 50%;
   bottom: -100%;
   transform: translateX(-50%);
   transition: all 0.3s;
 }
 .product-grid:hover .social{ bottom: 0; }
 .product-grid .social li{ display: inline-block; }
 .product-grid .social li a{
   color: #ea658a;
   line-height: 35px;
   height: 35px;
   min-width: 35px;
   margin: 0 5px;
   border: 1px solid #4e3dae;
   border-radius: 3px;
   display: block;
   position: relative;
   z-index: 1;
   transition: all 0.3s;
 }
 .product-grid .social li a:hover{
   color: #fff;
   background-color: #ea745d;
 }
 .product-grid .social li a:before,
 .product-grid .social li a:after{
   content: attr(data-tip);
   color: #fff;
   background-color: #ea055b;
   font-size: 13px;
   line-height: 22px;
   padding: 2px 12px;
   border-radius: 3px;
   white-space: nowrap;
   display: none;
   transform: translateX(-50%);
   position: absolute;
   left: 50%;
   top: -37px;
   z-index: 1;
   transition: all 0.3s ease 0s;
 }
 .product-grid .social li a:after{
   content: '';
   height: 15px;
   width: 15px;
   border-radius: 0;
   transform: translateX(-50%) rotate(45deg);
   top: -26px;
   z-index: -1;
 }
 .product-grid .social li a:hover:before,
 .product-grid .social li a:hover:after{
   display: block;
 }
 @media only screen and (max-width:990px){
   .product-grid{ margin-bottom: 30px; }
 }

 //calendar
 .simple-calendar {

   .prev-month,
   .next-month {
     background: #fffdf8;
   }
 }
 //svg responsive
 .svg-container {
   display: inline-block;
   position: relative;
   width: 100%;
   padding-bottom: 100%;
   vertical-align: middle;
   overflow: hidden;
 }
 .svg-content {
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
 }
 .error_messages{
   margin: 10px 12px;
 }
 .field_with_errors{
   display: inline;
 }
  .field_with_errors .message{
    color: red;
  }
 .dropdown-menu-notif{
   top: 60px;
   right: 0px;
   left: unset;
   width: 460px;
   box-shadow: 0px 5px 7px -1px #c1c1c1;
   padding-bottom: 0px;
   padding: 0px;
 }
 .dropdown-menu-notif:before{
   content: "";
   position: absolute;
   top: -20px;
   right: 12px;
   border:10px solid #ff5f50;
   border-color: transparent transparent #000000 transparent;
 }
 .notification-box{
   padding: 10px 0px;
 }

 @media (max-width: 640px) {
   .dropdown-menu{
     top: 50px;
     left: -16px;
     width: 290px;
   }
   .nav{
     display: block;
   }
   .nav .nav-item,.nav .nav-item a{
     padding-left: 0px;
   }
   .message{
     font-size: 13px;
   }
 }
 .head{
   padding:5px 15px;
   border-radius: 3px 3px 0px 0px;
 }
 .panel-transparent {
   background: none;
 }

 .modal-dialog,
 .modal-content {
   /* 80% of window height */
   height: 80%;
 }

 .modal-body {
   /* 100% = dialog height, 120px = header + footer */
   max-height: calc(100% - 120px);
   overflow-y: scroll;
 }
  .non-valable{
   font-family: "Lato Light";
   font-size: small;
   font-weight: normal;
 }
  .reservations-calendar{

    width: 100%;
    height: 100%;
  }
  .invalid-feedback{
    color: red;

    font-size: 13px;
    font-family: "Lato Light";

  }