          <div class="content">
            <div class="text-center">
                <div class="reservations-calendar">
                    <%= month_calendar events: reservations,remote: true  do |date,reservation|  %>

                   <%=  date %>
                 <% reservation.each do |res| %>
                      <% if res.present? %>
                        <div style="background-color: rgba(234,76,44,0.65)">
                          reserve
                        </div>


                      <% end %>

                </div>
                                  <% end %>
              </div>
                  <%end %>
                  </div>