<div class="form">
<%= simple_form_for @product, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="columns is-centered">
    <div class="column is-half">

      <% unless @product.product_photo_url.blank? %>
        <%= image_tag @product.product_photo_url(:thumb),class: "img-rounded" , id: "previewImage" %>
      <% end %>
      
      <output id="list"></output>
      <div id="drop_zone">Mettez l'image principale de la salle ici</div>
      <br />

      <%= f.input :product_photo, label: false, input_html: { class: "file-input", type: "file" }, wrapper: false, label_html: { class: "file-label" },placeholder: "votre fichier" %>

      <div class="form-group">
          <%= f.input :title , input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } ,placeholder: "Nom de la salle"%>
      </div>

      <div class="form-group">
          <%= f.input :description,as: :text, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" },placeholder: "votre description" %>
      </div>

      <div class="form-group">
        <h4>Ajouter d'autres photos</h4>
        <%= f.file_field :more_uploads, multiple: true %>
      </div>

  <br>
      <div class="text-center">


      <div class="form-group">

        <div class="control">
          <%= f.submit "Ajouter", class:"btn btn-new btn-lg" %>
        </div>
      </div>
      </div>
    </div>
  </div>


<% end %>
</div>
