<% if !user_signed_in? %>
<div class="jumbotron " style="background-color: white">

  <div class="container">
  <div class="text-center">


      <div class="col-md-12">
        <%= search_form_for @q ,validate: true do |f| %>
          <form class="form-horizontal">


      <div class="input-group-lg">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" class="form-control  " placeholder="Que recherchez-vous ??">
            </div>

          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <input type="text" class="form-control " placeholder="où">
            </div>

          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <button type="button" class="btn btn-search-submit  ">Rechercher</button>
            </div>

          </div>

        </div>
      </div>


          </form>


      </div>
        <% end %>
    </div>
  </div>
</div>
<% end %>