
  <div class="jumbotron jumbotron-fluid">


      <p class="lead">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= search_form_for @q ,validate: true do |f| %>
          <div class="input-group" id="adv-search">
            <%= f.search_field :title_or_description_cont ,class: "form-control",placeholder: "QUE CHERCHEZ-VOUS ?"%>

            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="filter">Filtrer par:</label>

                      </div>

                      <div class="form-group">

                        <%= f.search_field :traiteur_name_cont,class: "form-control",autofocus: true ,
                                           input_html: { autocomplete: "name" },placeholder: "nom du traiteur" %>
                      </div>
                      <br>
                      <br>

                      <br>
                      <br>
                      <div class="form-group">

                        <%= f.search_field :price_gteq ,class: "form-control",autofocus: true ,
                            placeholder: "prix min" %>
                        <br>
                        <br>
                        à
                        <%=f.search_field :price_lteq,class: "form-control",autofocus: true ,
                                         placeholder: "prix max" %>
                      </div>
                      <br>
                      <br>
                     <div class="form-group">
                       <%= f.submit "Recherche Avancée" ,class: "btn btn-search-submit" do %>
                         <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                       <% end %>


                     </div>

                    </form>
                  </div>
                </div>
                <%= f.submit "Rechercher", class: "btn btn-search-submit" %>


              </div>
            </div>
          </div>
        </div>
            <% end %>
      </div>
    </div>
  </div>







