<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <%- model_class = Product -%>
              <div class="page-header">
                  <h1>Modifier le produit</h1>
              </div>
          <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
