<%#= render 'products/search_ad' %>


  <%= render 'products/search' %>


  <section class="container">
    <div class="row">
          <% @products.each  do |pr| %>

            <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                <%= link_to pr, class: "product" do %>
                <div class="product-image">
                  <%= image_tag(pr.product_photo.url(:thumb),class: " pic-1 img-rounded") %>
                 <%= link_to pr,class: "More-about", 'data-tip' => "More about.." do %>
                    <i class="fas fa-info-circle"></i>
                    <% end %>
                </div>
                <div class="product-content">
                  <h3 class="title">
                    <%=  pr.title %>
                  </h3>
                  <!--
                  <div class="price"><#%= pr.price %> DH</div>
                  !-->
                  <h5> :<%= time_ago_in_words(pr.created_at) %></h5>
                  <ul class="social">
                    <li><%= link_to pr, 'data-tip' => "view"  do %>
                        <span class="icon"><i class="fa fa-eye" ></i></span>
                        <span class="vote_count"><%= pr.impressionist_count %></span>
                      <% end %>
                    </li>
                <% end %>
                    <li>
                      <% if user_signed_in? %>

                        <% if current_user.liked? pr %>
                          <%= link_to unlike_product_path(pr), 'data-tip' => "unlike",method: :put, :class => "unlike_product" do %>
                            <span class="icon"><i class="fa fa-heart text-danger"></i></span>
                            <span class="vote_count"><%= pr.get_likes.size %></span>
                          <% end %>
                        <% else %>
                          <%= link_to like_product_path(pr), 'data-tip' => "like",method: :put, :class => "like_product" do %>
                            <span class="icon"><i class="fa fa-heart"></i></span>
                            <span class="vote_count"><%= pr.get_likes.size %></span>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= link_to like_product_path(pr),'data-tip' => "like", method: :put, :class => "like_product" do %>
                          <span class="icon"><i class="fa fa-heart"></i></span>
                          <span class="vote_count"><%= pr.get_likes.size %></span>
                        <% end %>
                      <% end %>
                    </li>


                    <li><%= link_to pr, 'data-tip' => "comment" do %>
                        <span class="icon"><i class="fa fa-comment"></i></span>
                        <%= pr.comments.count %>
                      <% end %>

                    </li>
                  </ul>
                </div>

              </div>




        <div class="user-data">
          <div class="user-thumb">
            <%= image_tag(avatar_url(pr.traiteur), alt: pr.traiteur.name,class: "img-circle ",style: "max-width: 100%;height:30px;display:inline-block;border-radius:100%;")  %>
          </div>
          <div class="user-name"><%= pr.traiteur.name %></div>
        </div>
            </div>
      <% end %>
    </div>
  </section>
      <div class="text-center">
          <%= pagy_nav_bootstrap(@pagy).html_safe %>
      </div>




