<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">


    <%- model_class = Product -%>
          <div class="page-header">
            <%= sanitize image_tag "wedding" ,alt: "wedding" ,width: "100%",height: "100%",class: "img-fluid "%>
          </div>
              <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</div>
