
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title is-3"><%= @product.title %></h1>

        <span class="by has-text-grey-light">De</span>
        <div class="user-name has-text-weight-bold"><%= @product.traiteur.name %></div>
        <div class="product-time"><span class="has-text-grey-light"></span><span class="has-text-weight-semibold">
					<%= @product.created_at.strftime"créé le %m/%d/%Y à %I:%M%p" %>
				</span>
          <% if user_signed_in? %>
            <% if !current_user.is_seller? %>
          <div class="btn btn-disponibiliy btn-sm" data-toggle="modal" data-target="#show-disponibilty">
            <%= link_to show_disponibility_product_path(@product),remote: true  do%>
            Disponibilité ?
            <% end %>
          </div>

            <% end %>
            <% end %>
        </div>

      </div>
    </div>
    <div class="row">

      <div class="col">
        <div class="product-container">
            <%= image_tag @product.product_photo.url(:thumb),class: "img-rounded" unless @product.product_photo.blank? %>
            <%  (0...@product.more_uploads.count).each do |image| %>
                  <%= image_tag(@product.more_uploads[image],class: "img-rounded")%>
            <% end %>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <% if user_signed_in? && (current_user.id == @product.traiteur_id) %>
              <div class="btn-group-sm">
                <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-edit" %>
                <%= link_to 'Delete', product_path(@product), class: "btn btn-delete", method: :delete, data: { confirm: 'Are you sure you want to delete this product?'} %>
              </div>
            <% end %>
        </div>

        </div>

    </br>
        <div class="row">


          <div class="content">
            <div class="panel panel-default">
              <div class="panel-body small">
               <p class="description" ><%= @product.description %></p>
              </div>
            </div>

          </div>

        <section class="comments">
          <h3 class="subtitle is-5"><%= pluralize(@product.comments.count, 'Comment') %></h3>
          <%= render @product.comments %>
          <hr/>
          <% if user_signed_in? %>
            <div class="comment-form">
              <h3 class="text-justify">Laisser un commentaire :</h3>
              <%= render 'comments/form' %>
            </div>
          <% else %>
            <div class="content"><%= link_to 'Sign in', new_user_session_path ,:class => "btn btn-primary"%> to leave a comment.</div>
          <% end %>
        </section>
        </div>


    <div class="row">
        <div class="col-md-1">
          <div class="panel-default">
              <div class="panel-body">
                </br>
                </br>
              </div>
          </div>
        </div>
      </div>



<% if user_signed_in? %>
    <% if !current_user.is_seller %>
<div class="footer">

  <div class="footer_contents">

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="center">
          <div data-toggle="modal" data-target="#new-reservation" class="navbar-btn btn-reservation btn pull-right" >
        <%#= link_to  new_product_reservation_path(@product),:class => "navbar-btn btn-reservation btn pull-right" ,remote: true do %>
                  Demande de Réservation
          <%#end %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% end %>
</div>
<% else %>
  <div class="footer">

    <div class="footer_contents">

      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
  <!-- Button trigger modal -->

  <%= link_to "Demande de Réservation",'#cant-reserve','data-toggle' => 'modal',:class => "navbar-btn btn-reservation btn pull-right" %>






<% end %>

</div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="cant-reserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <%= sanitize image_tag "lighthouse" ,alt: "lighthouse" ,width: "50%",height: "50%",class: "img-fluid " %>
          <h4>vous devez se connecter ou s'inscrire si vous n'avez pas de compte </h4>
        </div>


      </div>
      <div class="modal-footer">
        <%= link_to "Se Connecter" , new_user_session_path,:class => "btn btn-reserve-signin" %>
        <%= link_to "S'inscrire" , new_user_registration_path,:class => "btn btn-reserve-signup" %>
      </div>
    </div>
  </div>
</div>
<!-- fin Modal -->

<!-- Modal -->
  <div class="modal fade" id="new-reservation" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog img-rounded" style="background-color: white; max-width: 1000px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel" class="title is-6"> <%= @product.title %></h3>
      </div>
      <div class="modal-body">
            <%= render 'reservations/form'   %>
        </div>
      </div>
    </div>
  </div>

<!-- fin modal -->


  <!-- Modal -->
  <div class="modal fade" id="show-disponibilty" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog img-rounded" style="background-color: white; max-width: 1000px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel" class="title is-8"></h3>
      </div>
      <div class="modal-body">


          <div class="text-center">
            <div id="reservations_calendar">
              <%= render partial: "calendar", locals: {reservations: @reservations} %>
            </div>
          </div>

      </div>
    </div>
  </div>
  <!-- fin modal -->





