

<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Créer votre propre mot de passe</h1>
        <div class="form">
<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>

            <%= f.error_notification %>
            <%= f.hidden_field :invitation_token %>
            <div class="form-group">
              <%= f.input :name ,placeholder: "votre nom" %>
            </div>
            <div class="form-group">
              <%= f.input :password ,placeholder: "mot de passe"%>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation ,placeholder: "confirmer votre mot de passe"%>
            </div>
            <div class="form-group">
              Vous êtes un traiteur,cochez cette case :
              <%= f.check_box :is_seller,as: :boolean,checked_value: true, unchecked_value: false%>
            </div>




            <div class="text-center">
              <%= f.button :submit, t("devise.invitations.edit.submit_button") ,:class => "btn btn-accept-invitation"%>
            </div>

<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
