<div class="container">

  <div class="box">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="box">
          <%= sanitize image_tag "invitation" ,alt: "invitation" ,width: "100%",height: "100%",class: "img-fluid "%>


        </div>

        <div class="form">
          <div class="text-center">
            <h1>Invitez vos amis !! </h1>
          </div>


<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>


  <%= devise_error_messages! %>
            <%= f.error_notification %>
<% resource.class.invite_key_fields.each do |field| -%>
              <%= f.input field %>

<% end -%>

<%= f.button :submit, t("devise.invitations.new.submit_button"),:class => "btn btn-primary" %>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>