

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="container">

    <div class="box">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="text-center">
            <%= sanitize image_tag "security" ,alt: "security" ,width: "100%",height: "100%",class: "img-fluid "%>
            <h1>modifier mon profil</h1>
          </div>

          <div class="form">

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, required: false, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <% if f.object.encrypted_password.present? %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
      <% end %>
  </div>

  <div class="text-center">
    <%= f.submit "Modifier",class:  "btn-update-profil btn-md" %>
  </div>
<% end %>

    </br>
        <div class="text-center">
          <p>Unhappy ?</p>
          <%= link_to "Désactiver mon compte" ,registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:class => "btn btn-cancel-account" %>
        </div>
</br>
       </div>
      </div>
    </div>
  </div>
</div>