<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=286129858884672&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">




  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= sanitize image_tag "signup" ,alt: "signup" ,width: "100%",height: "100%",class: "img-fluid "%>
      <h1>M'inscrire Maintenant</h1>
      <div class="form">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),validate: true) do |f| %>

          <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "name" },placeholder: "ex: souiri"%>
  </div>
          <div class="form-group">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" },placeholder: "ex: souiri@traiteur.gmail"%>
          </div>
          <div class="form-group">
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },placeholder: "mot de passe" %>
          </div>
          <div class="form-group">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },placeholder: "confirmer votre mot de passe"%>
          </div>
          <div class="form-group">
            Vous êtes un traiteur,cochez cette case

            <%= f.check_box :is_seller,as: :boolean,checked_value: true, unchecked_value: false%>
            <span class="checkmark"></span>
          </div>


        <div class="text-center">
             <%= f.submit "Sign up",class: "btn btn-lg btn-danger btn-block" %>
          </div>
          <div class="col-md-12 ">
            <div class="login-or">
              <hr class="hr-or">
              <span class="span-or">or</span>
            </div>
          </div>

          <p>
          <div class="col-md-12">
            <%= link_to  user_facebook_omniauth_authorize_path,:class => " btn btn-lg  btn-facebook btn-block" do%>

              <span><i class="fab fa-facebook-f"></i></span>

              Sign in with Facebook
            <% end %>
          </div>
          </p>
          <div class="col-md-12">
            <%= render 'users/shared/links' %>
          </div>


<% end %>

      </div>
    </div>
  </div>
</div>




